@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    /* Adjust the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Light background for the track */
    border-radius: 10px;
    /* Rounded edges for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    /* Darker color for the scrollbar thumb */
    border-radius: 10px;
    /* Rounded edges for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Darker color on hover */
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

.jump {
    animation: jump 0.5s ease;
}